<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageRestore>
    <add key="automatic" value="False" />
  </packageRestore>
  <packageSources>
    <add key="Shared" value="https://ci.appveyor.com/nuget/appsyndication-shared" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
